[submodule "third_party/singleapplication"]
	path = third_party/singleapplication
	url = https://github.com/itay-grudev/SingleApplication.git
[submodule "third_party/qtpromise"]
	path = third_party/qtpromise
	url = https://github.com/simonbrunel/qtpromise.git
[submodule "third_party/simdjson"]
	path = third_party/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "third_party/pugixml"]
	path = third_party/pugixml
	url = https://github.com/zeux/pugixml.git
